* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  height: 100%;
  width: 100%;
}

.layout {
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.foo {
  background-color: #55b9f3;
}

.bar {
  background-color: #537bf3;

  

}

.navbar {
  border: 1px solid snow;
  background-color: gray;
  padding: 1rem;
}
